@import url("https://fonts.googleapis.com/css?family=VT323");
body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: 'VT323', monospace;
  color: #454545; }

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px; }

.controller {
  width: 80%;
  height: auto; }
  @media only screen and (min-width: 768px) {
    .controller {
      width: 75vh; } }

.btn {
  opacity: 0.25; }
  .btn.blink {
    opacity: 1;
    transition: opacity 300ms ease-in-out; }

.on {
  fill: #BEBEBE; }

.removeClick {
  pointer-events: none; }

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  fill: #BEBEBE;
  transition: fill 250ms ease-in-out;
  cursor: pointer; }
  .reset:hover {
    fill: #808080; }
  .reset svg {
    width: 50px; }

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  margin-bottom: 20px;
  overflow: hidden; }
  .scoreboard .score {
    flex-grow: 1;
    display: flex;
    align-items: center; }
    .scoreboard .score .coin {
      height: 45px;
      width: auto; }
  .scoreboard .flash-msg {
    align-self: center;
    text-align: right;
    flex-grow: 2;
    margin: 0;
    visibility: hidden;
    text-transform: uppercase; }

.animate {
  animation: flash 1000ms cubic-bezier(0.5, 0, 0.25, 2) 1 alternate; }

@keyframes flash {
  0% {
    visibility: hidden;
    transform: translateY(50px); }
  15%, 85% {
    visibility: visible;
    transform: translateY(0px); }
  100% {
    visibility: hidden;
    transform: translateY(50px); } }
